fieldset{
	border : none;
}
.case{
	display : flex;
}

label{
	flex-basis : 9%;
	display : block;
	color : #424242;
}

input{
	margin-right : 1%;
	display : block;
	border : none;
	background-color: white;
	text-indent: 3%;
	font-variant: normal;
	font-style: oblique;
	font : 12px Andale Mono, monospace, Times, serif;
	color : #424242;
}

hr{
	margin-bottom : 1%;
	margin-top : 1%;
	margin-right : 1%;
	margin-left: 1%;
	border-width: 1px;
}

#submitButton{
	background : #384123;
	border : none;
	border-radius : 20px;
	color : white;
	font : 18px Georgia, "Times New Roman", Times, serif;
	letter-spacing : 2px;
	padding : 0.6%;
	text-transform : uppercase;
	transition : 0.3s;
	margin-left : 1em;
}

#submitButton:hover{
	background : #fe7f10;
	transform : scale(1.1);
}

#add_actor{
	border : none;
	border-radius: 5px;
	padding : 0.3%;
	background-color: #5B5B5B;
	color : #D5D5D5;
	transition : all 0.2s;
}

#add_actor:hover{
	background-color: #D5D5D5;
	color : #5B5B5B;
}

h1{
	font : 50px New Century Schoolbook, serif;
	margin-left : 1%;
	color : white;
}
